
body{
background-color: #ee8e6b;
background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);


}

.one-title{
	font-size: 0.8em;
}
.two-title{
	font-size: 0.8em;
}
.banner{
	width: inherit;
	background-color: rgba(0, 0, 0, 0.3);
}
.card{
	transition: transform .2s;
}
.card:hover{
	transform: scale(1.05);
}
.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}
.foot{
	font-size: 0.8em;
}
.tr{
	opacity: 0.5;
}
.o3{
	opacity: 0.3;
}